<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.FollowDao">

	<insert id="follow" parameterType="Follow">
		INSERT INTO follow (user_from_id, user_to_id)
		VALUES (#{user_from_id}, #{user_to_id})
	</insert>

	<delete id="unfollow" parameterType="Follow">
		DELETE FROM follow
		WHERE user_from_id = #{user_from_id} AND user_to_id = #{user_to_id}
	</delete>
	
	<select id="getFollowingList" parameterType="int" resultType="UserBoard">
		SELECT u.user_id, u.nickname, m.age, m.gender, m.self_intro, m.address, m.fav_sport, m.profile_image,
		(SELECT COUNT(*) FROM follow f WHERE f.user_from_id = #{user_id} AND f.user_to_id=u.user_id) AS user_follow_cnt
		FROM mypage AS m
		LEFT OUTER JOIN user AS u
		ON m.user_id = u.user_id
		WHERE m.user_id IN (SELECT user_to_id FROM follow WHERE user_from_id = #{user_id});
	</select>
	
	<select id="getFollowerList" parameterType="int" resultType="UserBoard">
		SELECT u.user_id, u.nickname, m.age, m.gender, m.self_intro, m.address, m.fav_sport, m.profile_image,
		(SELECT COUNT(*) FROM follow f WHERE f.user_from_id = #{user_id} AND f.user_to_id=u.user_id) AS user_follow_cnt
		FROM mypage AS m
		LEFT OUTER JOIN user AS u
		ON m.user_id = u.user_id
		WHERE m.user_id IN (SELECT user_from_id FROM follow WHERE user_to_id = #{user_id});
	</select>

</mapper>