<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ReviewDao">

	<select id="selectAll" parameterType="int" resultType="Review">
		SELECT * FROM review
		WHERE video_id = #{id};
	</select>
	
	<select id="selectOne" parameterType="int" resultType="Review">
		SELECT * 
		FROM review
		WHERE review_id = #{id};
	</select>

	<insert id="insert" parameterType="Review">
		INSERT INTO review (content, user_id, video_id)
		VALUES (#{content}, #{user_id}, #{video_id})
	</insert>
	
	<update id="update" parameterType="Review">
		UPDATE review
		SET content = #{content}
		WHERE review_id = #{review_id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM review
		WHERE review_id = #{id}
	</delete>

</mapper>