<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ReviewDao">
	<select id="selectAllReview" parameterType="int"
		resultType="Review">
		SELECT rv.review_id, rv.content, rv.created_at, rv.user_id,
		rv.video_id, us.nickname
		FROM review AS rv
		LEFT OUTER JOIN user AS us
		ON
		us.user_id = rv.user_id
		WHERE rv.video_id = #{id}
	</select>

	<select id="selectReviewOne" parameterType="int"
		resultType="Review">
		SELECT rv.review_id, rv.content, rv.created_at, rv.user_id,
		rv.video_id, us.nickname
		FROM review AS rv
		LEFT OUTER JOIN user AS us
		ON us.user_id = rv.user_id
		WHERE rv.review_id = #{id};
	</select>

	<insert id="insertReview" parameterType="Review">
		INSERT INTO review
		(content, user_id, video_id)
		VALUES (#{content}, #{user_id},
		#{video_id})
	</insert>

	<update id="updateReview" parameterType="Review">
		UPDATE review
		SET content
		= #{content}
		WHERE review_id = #{review_id}
	</update>

	<delete id="deleteReview" parameterType="int">
		DELETE FROM review
		WHERE
		review_id = #{id}
	</delete>
</mapper>